workflows/educAItion___newSpeakingQuestion (1).json
{
  "name": "educAItion - newSpeakingQuestion",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "text": "={{ $json.question }}\n\nPlease reply in Voice or text.\n\n---\n\nTopic: {{ $json.topic }}\nQuestion id : {{ $json.id }}\nBox : {{ $json.box }}",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -660,
        -1500
      ],
      "id": "511ab71f-9dbc-47e9-99a1-736a7b794279",
      "name": "Telegram",
      "webhookId": "fe7a00ca-42ba-4359-93ff-b32165223496",
      "credentials": {
        "telegramApi": {
          "id": "j06hYjEcJBs3NRO4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "user_speaking_questions",
          "mode": "list",
          "cachedResultName": "user_speaking_questions"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.user_id }}"
            },
            {
              "column": "speaking_id",
              "value": "={{ $('Select New Question').item.json.id }}"
            },
            {
              "column": "box",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -440,
        -1500
      ],
      "id": "6f532027-9804-4aa3-8288-8e1efe92a51c",
      "name": "Insert in user_words",
      "credentials": {
        "mySql": {
          "id": "CPMXm2kZQrLO39eF",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "number"
            },
            {
              "name": "name"
            },
            {
              "name": "chatID"
            },
            {
              "name": "type"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1100,
        -1500
      ],
      "id": "f6e56a57-b015-4b09-8389-ade4e495f1ff",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select sq.*,\n  0 as box\n  from speaking_questions sq\n  where sq.id not in (\n  select speaking_id from user_speaking_questions where user_id={{ $json.user_id }}\n  )\n  and type = '{{ $json.type }}'\nORDER BY RAND()\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -880,
        -1500
      ],
      "id": "db77dc2a-5d34-4d0f-b532-afc39f2eea2e",
      "name": "Select New Question",
      "credentials": {
        "mySql": {
          "id": "CPMXm2kZQrLO39eF",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram": {
      "main": [
        [
          {
            "node": "Insert in user_words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select New Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select New Question": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tehran",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a355d2de-0400-4a70-9d96-745a22df124d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69d0d047188cb9156a6f7134cb2977dd1da142c7fa73b37c2ba1fed7d3c72efb"
  },
  "id": "FiTfNdqMke2aTqUu",
  "tags": [
    {
      "createdAt": "2025-06-12T09:17:49.522Z",
      "updatedAt": "2025-06-12T09:17:49.522Z",
      "id": "ctP1QRHmNTJd1ue4",
      "name": "educAItion"
    }
  ]
}